body {
  background-color: #303446; /* Set the background color */
  color: white; /* Set font color */
  font-family: "Garamond", serif; /* Set font to Garamond */
  margin: 0;
}

.main-body {
  color: white; /* Ensure content text is readable */
  background-color: #303446; /* Match the background */
  min-height: 100vh; /* Ensure content stretches full height */
  
}

.middle-container {
  position:relative;
  margin-left: 200px;
  margin-right: 200px;
  color: white; /* Ensure text is readable */
  background-color: #303446; /* Match the background color */
  min-height: 100vh; /* Ensure the container stretches to the full height of the viewport */
  display: flex; /* Flex layout to center content */
  justify-content: center; /* Center content horizontally */
  align-items: left; /* Center content vertically */
  max-width: 800px;
}

h1 {
  font-size: 6.5rem; /* Make the h1 really big */
  font-weight: bold;
  text-align: center; /* Center the heading */
  margin-top: 20px; /* Add spacing above */
  background-color: #303446; /* Sidebar background */
  color: white;
  font-family: 'Prompt', sans-serif;
}

p {
  font-size: 1.2rem; /* Slightly larger font for the paragraph */
  line-height: 1.8; /* Improve readability */
  text-align: left; /* Center align the text */
  max-width: 800px; /* Limit the width of the paragraph */
  margin: 20px auto; /* Center the paragraph on the page */
  background-color: #303446; /* Sidebar background */
  color: white;
}


.command-block {
  background-color: #2b2f40; /* Slightly darker than the main background */
  color: white; /* Ensure text is readable */
  padding: 10px 15px; /* Add padding for better spacing */
  border-radius: 5px; /* Optional: Rounded corners */
  font-family: monospace; /* Use monospace font for commands */
  margin: 10px 0; /* Add spacing between blocks */
  overflow-x: auto; /* Allow horizontal scrolling for long commands */
  white-space: pre-wrap;
}