@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');



.logo {
    width: 100px; /* Adjust image width */
    height: 100px; /* Adjust image height */
    margin-right: 30px; /* Spacing between image and text */
}

.main-body {
    margin-left: 250px; /* Offset by sidebar width */
    padding: 20px;
    flex-grow: 1;
}