.middle-container-examples {
    margin-left: 200px;
    margin-right: 200px;
    color: white; /* Ensure text is readable */
    background-color: #303446; /* Match the background color */
    min-height: 100vh; /* Ensure the container stretches to the full height of the viewport */
    display: flex; /* Flex layout to center content */
    justify-content: center; /* Center content horizontally */
    align-items: left; /* Center content vertically */
  }