#sidebar-wrapper {
    background-color: #303446; /* Sidebar background */
    color: white; /* Sidebar text color */
    width: 250px; /* Fixed sidebar width */
    min-height: 100vh; /* Full-height sidebar */
    position: fixed; /* Keep sidebar fixed */
    top: 50px;
    left: 200px; /* Move the sidebar 50px to the right */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding-top: 80px;
}

.sidebar-heading {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 15px; /* Add spacing for header */
}

.list-group {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1; /* Ensure it stretches vertically if needed */
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.list-group-item {
    background-color: #303446; /* Match sidebar background */
    color: white; /* Link text color */
    padding: 15px 20px;
    font-size: 1.5rem;
    text-decoration: none; /* Remove underline */
    display: block;
}

.list-group-item:hover {
    color: white; /* Ensure text remains white */
    text-decoration: underline; /* Add underline on hover */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Garamond", serif;
}
